:root {
  --app-section-height: 80vh;
}

body {
  margin: 0;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.onclick {
  cursor: pointer;
}

.onclick:hover {
  color:green;
}
