
.reviews-div select {
  padding: 5px;
    margin: 5px;
    background: #e1dfdf;
}

.reviewsContainer {
  display: grid;
  grid-template-columns: 0.8fr 2.2fr;
  padding: 15px;
  column-gap: 7%;
  font-size: large;
}

.revieListAndAddReviewContainer {
  background-color: rgb(255, 255, 255);
  width: 98%;
  height: 90vh;
  overflow: scroll;
}

#sorting {
  width: 150px;
  height: 25px;
  margin: 15px;
}

.LeftPage {
  display: grid;
  grid-template-rows: 0.8fr 2.2fr;
  border: rgb(209, 209, 214) solid;
  row-gap: 15%;
  padding: 15px;
  border-radius: 25px;
}
.tile {
  border: solid rgb(208, 167, 167);
  margin: 9px;
  margin-right: 15px;
  padding: 15px;
  border-radius: 15px;
}
.reviewsContainer  button{

    width: 120px;
    height: 36px;
    background: #cac4ea;
    margin: 25px;
    border-radius: 20px;
    color: #0a0a0a;
    font-size: 15px;
}

#reviewbody {
  width: 250px;
  height: 83px;
}
#starnum {
  padding: 0px;
  font-size: 50px;
  font-weight: 900;
  color: #2f542f;
  text-align: left;
}
.starrating {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr;
}
